*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

.main-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

input{
    margin-bottom: 10px;
}
.top{
    display: flex;
    align-items: center;
}
.img{
    width: 40px;
    margin-left: 40px;
}
.box-flex{
    display: flex;
    
    align-items: center;
}
.delete-btn{
    background-color: black;
    width: auto;
    height: auto;
    border: none;
    text-align: center;
    margin-top: 10px;
    padding: 3px 10px;
    color: whitesmoke;
    
}
.list{
    border:  2px solid grey;
    background-color: lightsteelblue;
    width: auto;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 10px;
    text-align: center;
    padding-bottom: 10px;

}
.btn-active{
    display: none;
}
.main-flex{
    background-color: darkcyan;
    padding: 20px;
    width: max-content;
}
body{
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top{
    position: relative;
    left: 550px;
}
input{
    padding: 4px;
    color: whitesmoke;
    color: darkslategrey;
    border: none;
    border-radius: 5px;
}
.btn{
    padding: 3px;
    width: 70px;
    border: none;
    color: whitesmoke;
    background-color: darkslategrey;

}